* {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

@media (max-width: 690px) {
    main {
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
  }
  
  @media (max-width: 500px) {
    aside {
      font-size: 0.8rem;
    }
  }