* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 15px;
  padding: 10px;
  width: 90%;
}

main {
    display: inline-block;
    width: 70%;
    display: inline-block;
    margin-left: 20px;
}

button {
    display: flex;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

aside {
  margin-right: 20px;
  padding: 20px;
  /* clear: both; */
  float: right;
  width: 30%;
  height: 100%;
}

img {
  max-width: 70%;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.float-left {
  float: left;
  margin-right: 25px;
}

@media (max-width: 690px) {
    main {
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
  }
  
  @media (max-width: 500px) {
    aside {
      font-size: 0.8rem;
    }
  }



/* .username input[username="username"]{
    grid-area: username;
} */
